/*************************
*******Home Page******
**************************/
#home-slider {
  position: relative;
}

#home-slider .main-slider {
  position: relative;
  height: 450px;
}

#home-slider .slide-text{
  position: absolute;
  top: 50px;
  left: 0;
  width: 450px;
}

.animate-in .slide-text {
  -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
  animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
}

#home-slider .slider-hill {
  position: absolute;
  right: 0;
  bottom: 0;
}

.animate-in .slider-hill {
  -webkit-animation: bounceInDown 1000ms ease-in-out 200ms both;
  animation: bounceInDown 1000ms ease-in-out 200ms both;
}

#home-slider .slider-house {
  position: absolute;
  right: 110px;
  bottom: -30px;
}

.animate-in .slider-house {
  -webkit-animation: bounceInDown 500ms ease-in-out 800ms both;
  animation: bounceInDown 500ms ease-in-out 800ms both;
}

#home-slider .slider-sun {
  position: absolute;
  right: 365px;
  bottom: 100px;
}

.animate-in .slider-sun {
  -webkit-animation: fadeInUp 500ms ease-in-out 1200ms both;
  animation: fadeInUp 500ms ease-in-out 1200ms both;
}

#home-slider .slider-birds1 {
  position: absolute;
  right: 470px;
  bottom: 75px;
}

.animate-in .slider-birds1 {
  -webkit-animation: fadeInLeft 500ms ease-in-out 1200ms both;
  animation: fadeInLeft 500ms ease-in-out 1200ms both;
}

#home-slider .slider-birds2 {
  position: absolute;
  right: 40px;
  bottom: 150px;
}

.animate-in .slider-birds2 {
  -webkit-animation: fadeInRight 500ms ease-in-out 1200ms both;
  animation: fadeInRight 500ms ease-in-out 1200ms both;
}


#home-slider h1{
  margin-top: 100px;
  margin-bottom: 25px;
}

#home-slider .btn-common {
  margin-top: 20px;
}

#home-slider .preloader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -30px;
  right: 0;
  background: #fafafa;
  text-align: center;
}

#home-slider .preloader > i {
  font-size: 48px;
  height: 48px;
  line-height: 48px;
  color: #00aeef;
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: 50%;
  margin-top: -24px;
}

#footer{background-color: #eee;text-align: center;padding: 20px;border-top: 1px solid #ccc;}
  /* 小屏幕（平板，大于等于 768px） */
